/*
 * Custom colors for Pie Chart
 * On my end at least, Eclipse states that "-fx-pie-color" is an unknown property.
 * However, it still works on my end regardless.
 * @author: Xavier Mejia - MKD107
 */

/* Colors of JavaFX PieChart slices */
.data0.chart-pie { -fx-pie-color: #F0304C; }
.data1.chart-pie { -fx-pie-color: #24B1F0; }
.data2.chart-pie { -fx-pie-color: #18F0BD; }
.data3.chart-pie { -fx-pie-color: #F08200; }
.data4.chart-pie { -fx-pie-color: #0CF03A; }
.data5.chart-pie { -fx-pie-color: #F0B172; }
.data6.chart-pie { -fx-pie-color: #806742; }
.data7.chart-pie { -fx-pie-color: #CCA56A; }